<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studant.name %>
</p>

<p>
  <strong>Old:</strong>
  <%= @studant.old %>
</p>

<p>
  <strong>Description:</strong>
  <%= @studant.description %>
</p>

<%= link_to 'Edit', edit_studant_path(@studant) %> |
<%= link_to 'Back', studants_path %>
