<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Contato <small><%= @contact.name %> </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>
                <%= link_to administrator_path do %>
                   Dashboard 
                <% end %>
            </li>
            <li >
                <i class="fa fa-dashboard"></i> 
                <%= link_to 'contatos', contacts_path %>
            </li>
            <li class="active">
                <i class="fa fa-dashboard"></i> show
            </li>
        </ol>
    </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact),  class: 'btn btn-default' %> |
<%= link_to 'Back', contacts_path, class: 'btn btn-default' %>
